{% extends "_layout.html" %}

{% block content %}
  <h4>Latest requests initiated at {{ startTime }}</h4>
  <table>
    <tr>
      <th>Date</th>
      <th>URL</th>
      <th>Response status</th>
      <th>Response time</th>
      <th>Details</th>
    </tr>
  {% for site in rows %}
    {% if site.responseType == 'INFO' %}
      {% set bg = 'aaffa8' %}
    {% elif site.responseType == 'WARNING' %}
      {% set bg = 'f4fc92' %}
    {% else %}
      {% set bg = 'ffb94f' %}
    {% endif %}
    <tr style="background-color: #{{ bg }};">
      <td>{{ site.date }}</td>
      <td>
        <a href='{{ site.url }}'>{{ site.url }}</a>
      </td>
      <td>{{ site.status }}</td>
      <td>{{ site.time }}</td>
      <td>{{ site.msg }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock content %}
